.loginTitle {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #ffeb3b; /* Amarelo claro */
}

.textField {
    margin-bottom: 1rem;
}

.errorText {
    color: #f44336; /* Vermelho para erros */
    margin-bottom: 1rem;
}

.button {
    margin-top: 1rem;
    background-color: #ffeb3b; /* Amarelo claro */
    color: #000; /* Preto para o texto */
}

.buttonRegister {
    margin-top: 1rem;
    border-color: #ffeb3b; /* Amarelo claro para a borda */
    color: #ffeb3b; /* Amarelo claro para o texto */
}

.buttonRegister:hover {
    border-color: #ffc107; /* Amarelo mais escuro no hover */
    color: #ffc107; /* Amarelo mais escuro no hover */
}
