.homeContainer {
    padding: 20px;
  }
  
  .pageTitle {
    margin-bottom: 20px;
  }
  
  .statCard {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chartContainer {
    margin-top: 40px;
  }
  
  .itemContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    margin-top: 30px;
  }
  
  .itemCard {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .itemCard img {
    width: 90%;
    object-fit: cover;
  }

  .button {
    background-color: #868800;
    color: white;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #c5c209;
  }
  